# A porta a ser rodada no postgres
POSTGRES_PORT=5432

# Nome do banco de dados que será criado
POSTGRES_DB=easy_coast

# Nome do usuário para fazer autenticação no app e em ferramentas de gerenciamento
POSTGRES_USER=postgres

# Senha para o usuário
POSTGRES_PASSWORD=teste01@

# Ou localhost para uma instância local do postgres
POSTGRES_HOST=postgres

# A porta em que o app será exposto
APP_PORT=8080

# Ou dev, enquanto estiver rodando em desenvolvimento
DOCKER_BUILD_STAGE=prod
