# Chave secreta para gerar os JWT Tokens
JWT_SECRET=JWT_SECRET_KEY

# Desativar a autenticação na aplicação (Só funciona no desenvolvimento)
AUTH_DISABLED=false

# Origens do frontend. Podem ter várias, separadas em virgula
ORIGINS=http://localhost:4200

# Login inicial do Owner
OWNER_INITIAL_LOGIN=admin@admin

# Senha inicial do Owner
OWNER_INITIAL_PASSWORD=admin123

# A porta a ser rodada no postgres
POSTGRES_PORT=5432

# Nome do banco de dados que será criado
POSTGRES_DB=easy_coast

# Nome do usuário para fazer autenticação no app e em ferramentas de gerenciamento
POSTGRES_USER=postgres

# Senha para o usuário
POSTGRES_PASSWORD=teste01@

# Ou localhost para uma instância local do postgres
POSTGRES_HOST=postgres

# A porta em que o app será exposto
APP_PORT=8080

# Ou dev, enquanto estiver rodando em desenvolvimento
DOCKER_BUILD_STAGE=prod
