POSTGRES_PORT=5432
POSTGRES_DB=easy_coast
POSTGRES_USER=postgres
POSTGRES_PASSWORD=teste01@
POSTGRES_HOST=postgres # ou localhost para uma instância local do postgres

APP_PORT=8080

DOCKER_BUILD_STAGE=prod # ou dev, enquanto estiver rodando em desenvolvimento
